<p>Welcome <%= @email %> to BeoTracker.com!</p>

<p>Please confirm your registration by clicking on the link below:</p>

<p><%= link_to 'Confirm my pass', confirmation_url(@resource, :confirmation_token => @token) %></p>
